<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".WeatherWidgetApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherWidget">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ConfigActivity"
            android:exported="true"
            android:label="@string/configure_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:taskAffinity=""
            android:label="@string/settings" />

        <activity
            android:name=".ui.StatisticsActivity"
            android:exported="false"
            android:label="@string/statistics" />

        <activity
            android:name=".ui.AppLogsActivity"
            android:exported="false"
            android:label="@string/app_logs"
            android:screenOrientation="fullUser" />

        <activity
            android:name=".ui.ForecastHistoryActivity"
            android:exported="false"
            android:taskAffinity=""
            android:label="@string/forecast_history" />

        <activity
            android:name=".ui.WeatherObservationsActivity"
            android:exported="false"
            android:taskAffinity=""
            android:label="Current Observations" />

        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:exported="false"
            android:label="@string/privacy_policy_title" />

        <activity
            android:name=".ui.BugReportActivity"
            android:exported="false"
            android:label="@string/bug_report_title" />

        <activity
            android:name=".ui.IconGalleryActivity"
            android:exported="false"
            android:label="@string/icon_preview_title" />

        <receiver
            android:name=".widget.WeatherWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.weatherwidget.ACTION_REFRESH" />
                <action android:name="com.weatherwidget.ACTION_NAV_LEFT" />
                <action android:name="com.weatherwidget.ACTION_NAV_RIGHT" />
                <action android:name="com.weatherwidget.ACTION_TOGGLE_API" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.ScreenOnReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.UIUpdateReceiver"
            android:exported="false" />

        <service
            android:name=".widget.OpportunisticUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
